body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
}
h1{
    color: blue;
    font-weight: bold;
}
.av{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-size: x-large;
    background-color: red;
    color: white;
}