body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1{
    color: blue;
    font-weight: bold;
}

button{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-size: x-large;
    background-color: red;
    color: white;
}